/***************************
****************************
BASE STYLES
****************************
***************************/

html {
    height: 100%
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #fcfcff;
}

/***************************
****************************
NAVIGATION
****************************
***************************/

nav {
    position: fixed;
    width: 100%;
    z-index: 9999;
    bottom: 0;
    box-shadow: 0 -1px 3px rgba(0,0,0,0.20);
    background-color: #fcfcff;
}

@media screen and (min-width: 750px) {
    nav {
        top: 0;
        right: 1em;
        width: 8em;
        height: 10em;
        box-shadow: none;
    }

}

.current {
    border-bottom: 2px solid #000;
    padding-bottom: 4px;
}

ul {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

/* li {
    display: inline;
} */

@media screen and (min-width: 750px) {
    ul {
        flex-direction: column;
    }

}

li a:link, a:visited {
    color: #000;
    text-decoration: none;
}

li a:hover {
    color: darkgray;
    text-decoration: none;
}

li a:active {
    border-bottom: 2px solid #000;
    padding-bottom: 3px;
}

@media screen and (min-width: 750px) {
    li {
        margin: 1em auto;
    }

}

/***************************
****************************
NAME BUTTON
****************************
***************************/

.name a:link, a:visited, a:hover {
    color: #000;
    text-decoration: none;
}

.name {
    border: 3px solid #000;
    padding: .5em .5em;
    margin: .6em auto;
}

@media screen and (min-width: 750px) {
    .name {
        margin: .8em;
        width: 7em;
    }

}

.name h3 {
    margin: 0 auto;
}

@media screen and (min-width: 750px) {
    .name h3 {
        width: 112px;
    }

}

/***************************
****************************
HOMEPAGE
****************************
***************************/

.typedScript {
    flex: 1;
    text-align: center;
	margin: 20vh 5vh 0;
	font-size: 10vh;
	font-weight: 300;
	color: #2b2b2b;
}

.typedScript::after {
    content: " █";
    /*animation: blink 500ms linear infinite alternate;*/
}

@media screen and (min-width: 750px) {
    .typedScript {
        margin: 35vh 5vh 0;
    }

}

@-webkit-keyframes blink{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

@-moz-keyframes blink{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

@keyframes blink{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

/***************************
****************************
ABOUT PAGE
****************************
***************************/

.bio {
    margin: 2em 1em 0;
	font-size: 2em;
    font-weight: 300;
    flex: 1;
}

@media screen and (min-width: 750px) {
    .bio {
        margin: 6em 6em 0;
    }

}

/***************************
****************************
FOOTER
****************************
***************************/

footer {
    margin: 1em auto;
    text-align: center;
}

footer a:link, a:visited, a:hover{
    color: #000;
    text-decoration: none;
}

footer p {
    font-size: .8em;
}

footer h5 {
    margin: 1em;
}